{
    "version" : "2018-05-29",
    "operation" : "UpdateItem",
    "key": {
        "id" : $util.dynamodb.toDynamoDBJson($context.arguments.id)
    },
    "update" : {
        "expression" : "SET #mode = :mode",
        "expressionNames" : {
           "#mode" : "mode"
        },
        "expressionValues" : {
           ":mode" : $util.dynamodb.toDynamoDBJson($context.arguments.mode),
       },
    },
    "condition" : {
        "expression": "attribute_exists(id)"
    },
}