{
    "version" : "2018-05-29",
    "operation" : "DeleteItem",
    "key": {
        "productId" : $util.dynamodb.toDynamoDBJson($context.arguments.productId),
        "userId" : $util.dynamodb.toDynamoDBJson($context.arguments.userId),
    },
    "condition" : {
       "expression": "attribute_exists(productId) AND attribute_exists(userId)"
    },
}