{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key": {
        "productId" : $util.dynamodb.toDynamoDBJson($context.arguments.productId),
        "userId" : $util.dynamodb.toDynamoDBJson($context.arguments.userId),
    },
    "attributeValues" : {
        "mode": $util.dynamodb.toDynamoDBJson($context.arguments.mode),
    },
    "condition": {
    	"expression": "attribute_not_exists(productId) AND attribute_not_exists(userId)"
    }
}
