{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression" : "userId = :userId",
        "expressionValues" : {
            ":userId" : $util.dynamodb.toDynamoDBJson($context.args.userId)
        }
    },
    "index" : "byUser",
    "limit" : 100,
    "scanIndexForward" : false,
    "consistentRead" : false,
    "select" : "ALL_ATTRIBUTES",
}